.wrapper {
    max-width: 87rem;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 0.625rem;
    display: grid;
    grid-template:  minmax(80px, auto) 1fr minmax(100px, 8.43rem) / 1fr;
}

.page {
    padding-bottom: 2.5rem;
}

.page h2{
    padding: 0.625rem 0rem;
    font-size: 2em;
    letter-spacing: 0.05rem;
}

@media (max-width: 768px) {
    .page {
        padding-bottom: 1.25rem;
    }
    .page h2{
        padding: 0 0 0.625rem 0;
    }
}

