.container{
    width: 100%;
}

.block{
    display: grid;
    grid-template: minmax(5rem, auto) 1fr / 1fr 1fr;
}
@media (max-width: 768px) {
    .block{
        grid-template: auto/ 1fr;
    }
}
@media (min-width: 768px) {
    .block > :last-child {
        grid-column: span 2;
    }
}

.img {
    position: relative;
    width: 100%;
    padding-top: 30%;
}

.img iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
